.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
  margin-left: 210px;
  width: 10px;
}

mat-card {
  margin: auto;
  width: 100%;
}

h4 {
  margin-top: 10px;
}

h4,
h3,
h5 {
  margin-bottom: 20px;
  font-weight: bold;
}

.add-batch-payment-div {
  margin-right: 35px;
  margin-left:520px;
  top: -45px;
  position: relative; 
  cursor:pointer; 
  width: fit-content; 
}

.fb-logo-mini {
  height: 40px;
  margin-right: 10px;
}

.card-header-display-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.mat-form-field {
  display: block;
}

.mat-raised-button {
  font-weight: bold;
  background: #187697;
  color: white;
}

.footer {
  margin-top: 50px;
}

.form-control:focus {
  box-shadow: none !important;
}

/*material inputs placeholder and underline color*/

/deep/ .mat-checkbox {
  float: right;
}

/deep/.mat-focused .mat-form-field-label {
  color: #187697 !important;
}

/deep/ .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: #187697 !important;
}

/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #187697 !important;
}

.payment-element {
  display: flex;
}

.payment-element p {
  font-weight: bold;
}

.payment-element label {
  margin-left: 20px;
}

.submission-status {
  font-size: 16px;
}

.alert-danger-div {
  margin: auto;
  margin-top: 50px;
  width: 800px;
}

.payment-header {
  display: flex;
  margin-bottom: 45px;
}

.payment-header-right {
  right: 90px;
  position: absolute;
  width: 175px;
}


.payment-data-subtitle {
  font-weight: bold;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.get-payment-title {
  font-weight: bold;
}

.nested-accordion {}

.section-class {
  width: 800px;
  margin: auto;
  margin-top: 30px;
}

.section-class .title {
  margin-right: 10px;
  font-weight: bold;
}

.arrow-center {
  text-align: center;
}

.identification-table-cell {
  min-width: 240px;
}

.param-input {
  width: 400px;
}

.status-cell {
  min-width: 200px;
}

.create-payment {
  display: flex;
}

.created-successfully {
  text-align: center;
  width: 50%;
  color: green;
  padding-top: 10px;
  font-weight: bold;
}

.batch-created-successfully {
  text-align: left;
  width: 50%;
  color: green;
  padding-top: 10px;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.material-icons.blue { 
  color: #187697; 
}

.create-payment-buttons {
  justify-content: space-between; 
  align-items: center
}

.material-icons.vertical {
  vertical-align: -6px;
}

.batch-create-button {
  margin-top: 20px
}

.bring-forward {
  z-index: 99999;
}
