<div class="alert-danger-div">
  <alert></alert>
</div>
<section *ngIf="!paymentData else LISTPAYMENT">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-header-display-flex">
        <img class="fb-logo-mini" src="assets/images/fintechblocks_logo_mini.png">
        <h3>Payment Initiation API</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="payment-header">
        <h4>Create payment</h4>
        <div class="payment-header-right">
          <mat-checkbox [(ngModel)]="deptorChecked">With debtor data</mat-checkbox>
        </div>
      </div>
      <form class="form-group" [formGroup]="paymentForm" (ngSubmit)="createPayment()">
        <h5>Instructed amount</h5>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="amount" class="form-control" formControlName="instructedAmount" [formGroup]="paymentForm"
            placeholder="Instructed amount">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="currency" class="form-control" formControlName="instructedAmountCurrency"
            [formGroup]="paymentForm" placeholder="Instructed amount currency">
        </mat-form-field>
        <h5>Creditor account</h5>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="creditorAccountIdentification" class="form-control" formControlName="creditorAccountIdentification"
            [formGroup]="paymentForm" placeholder="Creditor account identification">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="name" class="form-control" formControlName="creditorAccountName" [formGroup]="paymentForm"
            placeholder="Creditor account name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="creditorAccountSchemeName" class="form-control" formControlName="creditorAccountSchemeName"
            [formGroup]="paymentForm" placeholder="Creditor account scheme name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="creditorAccountSecondaryIdentification" class="form-control" formControlName="creditorAccountSecondaryIdentification"
            [formGroup]="paymentForm" placeholder="Creditor secondary identification">
        </mat-form-field>
        <h5>Creditor agent</h5>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="creditorAgentSchemeName" class="form-control" formControlName="creditorAgentSchemeName"
            [formGroup]="paymentForm" placeholder="Creditor agent scheme name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="creditorAgentIdentification" class="form-control" formControlName="creditorAgentIdentification"
            [formGroup]="paymentForm" placeholder="Creditor agent identification">
        </mat-form-field>
        <h5>Remittance information</h5>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="remittanceInformationReference" class="form-control" formControlName="remittanceInformationReference"
            [formGroup]="paymentForm" placeholder="Remittance information reference">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="remittanceInformationUnstructured" class="form-control" formControlName="remittanceInformationUnstructured"
            [formGroup]="paymentForm" placeholder="Remittance information unstructured">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="instructionIdentification" class="form-control" formControlName="instructionIdentification"
            [formGroup]="paymentForm" placeholder="Instruction identification">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="text" id="endToEndIdentification" class="form-control" formControlName="endToEndIdentification"
            [formGroup]="paymentForm" placeholder="End to end identification">
        </mat-form-field>
        <div *ngIf="deptorChecked">
          <h5>Debtor agent</h5>
          <mat-form-field class="example-full-width">
            <input matInput type="text" id="debtorAgentSchemeName" class="form-control" formControlName="debtorAgentSchemeName"
              [formGroup]="paymentForm" placeholder="Debtor agent scheme name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" id="debtorAgentIdentification" class="form-control" formControlName="debtorAgentIdentification"
              [formGroup]="paymentForm" placeholder="Debtor agent identification">
          </mat-form-field>
          <h5>Debtor account</h5>
          <mat-form-field class="example-full-width">
            <input matInput type="text" id="debtorAccountSchemeName" class="form-control" formControlName="debtorAccountSchemeName"
              [formGroup]="paymentForm" placeholder="Debtor account scheme name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" id="debtorAccountIdentification" class="form-control" formControlName="debtorAccountIdentification"
              [formGroup]="paymentForm" placeholder="Debtor account identification">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" id="debtorAccountName" class="form-control" formControlName="debtorAccountName"
              [formGroup]="paymentForm" placeholder="Debtor account name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" id="debtorAccountSecondaryIdentification" class="form-control" formControlName="debtorAccountSecondaryIdentification"
              [formGroup]="paymentForm" placeholder="Debtor account secondary identification">
          </mat-form-field>
        </div>
        <button type="submit" mat-raised-button>{{'create payment' | uppercase}}</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
<ng-template #LISTPAYMENT>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-header-display-flex">
        <img class="fb-logo-mini" src="assets/images/fintechblocks_logo_mini.png">
        <h3>Payment Initiation API</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>List payment data</h4>
      <h5>Payment data</h5>
      <div *ngFor="let initiationElement of keys(paymentData.Initiation)">
        <div *ngIf="isString(paymentData.Initiation[initiationElement]) else NOTSTRINGTYPE">
          <div class="payment-element">
            <p> {{initiationElement}}:</p>
            <label>{{paymentData.Initiation[initiationElement]}}</label>
          </div>
        </div>
        <ng-template #NOTSTRINGTYPE>
            <h6 class="payment-data-subtitle">{{initiationElement}}:</h6>
          <div *ngFor="let element of keys(paymentData.Initiation[initiationElement])">            
            <div class="payment-element">
              <p>{{element}}:</p>
              <label>{{paymentData.Initiation[initiationElement][element]}}</label>
            </div>
          </div>
        </ng-template>
      </div>
      <hr>
      <div>
        <h5>Payment status</h5>
        <div class="payment-element">
          <p>Status:</p>
          <label class="submission-status">{{paymentSubmission.Status}}</label>
        </div>
      </div>
      <button mat-raised-button (click)="getPaymentSubmission(paymentSubmission.PaymentSubmissionId)">{{'refresh
        status' | uppercase}}</button>
    </mat-card-content>
  </mat-card>
</ng-template>
<section class="text-center footer">
  <p>
    <a href="https://fintechblocks.com/" target="_top">
      <img style="height: 73px;" src="assets/images/fintechblocks_logo.png">
    </a>
  </p>
  <p style="color: #9bc127;">
    hello@fintechblocks.com
  </p>
</section>
