<mat-card>
  <mat-accordion>
    <mat-expansion-panel [expanded]="consent_id ? true :false" id="international-scheduled-payment-consent-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          International Scheduled Payment Consent
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel class="nested-accordion create" id="create-international-scheduled-payment-consent-accordion">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Create International Scheduled Payment Consent
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="payment-header">
            <div class="payment-header-right">
              <mat-checkbox id="international-scheduled-payment-consent-with-debtor-data-checkbox" labelPosition="before" [(ngModel)]="consentDebtorChecked">With Debtor data</mat-checkbox>
            </div>
          </div>
          <form class="form-group" [formGroup]="paymentForm" (ngSubmit)="createScheduledPaymentConsent()">
            <h5>Instructed amount</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-amount" class="form-control" formControlName="instructedAmount"
                [formGroup]="paymentForm" placeholder="Instructed amount">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-currency" class="form-control" formControlName="instructedAmountCurrency"
                [formGroup]="paymentForm" placeholder="Instructed amount currency">
            </mat-form-field>
            <h5>Creditor account</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-creditorAccountIdentification" class="form-control"
                formControlName="creditorAccountIdentification" [formGroup]="paymentForm"
                placeholder="Creditor account identification">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-name" class="form-control" formControlName="creditorAccountName"
                [formGroup]="paymentForm" placeholder="Creditor account name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-creditorAccountSchemeName" class="form-control"
                formControlName="creditorAccountSchemeName" [formGroup]="paymentForm"
                placeholder="Creditor account scheme name">
            </mat-form-field>
            <h5>Creditor</h5>
            <mat-form-field>
              <input matInput type="text" id="create-international-scheduled-payment-consent-creditorName" class="form-control"
                formControlName="creditorName" [formGroup]="paymentForm"
                placeholder="Creditor name">
            </mat-form-field>
        <div class="create-payment">  
          <h6>Creditor address line</h6>
          <i class="material-icons blue bring-forward cursor-pointer" (click)="addAddressLine()">
                add_box
          </i>
        </div>
          <div [formGroup]="paymentForm">
            <div formGroupName="creditorPostalAddress">
              <div formArrayName="creditorAddressLine">
                <div *ngFor="let address of creditorAddressLine.controls; let creditorAddressLineIndex = index;">
                  <mat-form-field class="example-full-width">
                    <input matInput
                      type="text"
                      [id]="'create-international-scheduled-payment-consent-creditorAddressLine-'+creditorAddressLineIndex"
                      class="form-control"
                      [formControlName]="creditorAddressLineIndex"
                      placeholder="Creditor address line">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <h5>Creditor agent</h5>
            <mat-form-field>
              <input matInput type="text" id="create-international-scheduled-payment-consent-creditorAgentName" class="form-control"
                formControlName="creditorAgentName" [formGroup]="paymentForm" placeholder="Creditor agent name">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" id="create-international-scheduled-payment-consent-creditorAgentIdentification" class="form-control"
                formControlName="creditorAgentIdentification" [formGroup]="paymentForm" placeholder="Creditor agent identification">
            </mat-form-field>
            <h5>Remittance information</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-remittanceInformationReference" class="form-control"
                formControlName="remittanceInformationReference" [formGroup]="paymentForm"
                placeholder="Remittance information reference">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-remittanceInformationUnstructured" class="form-control"
                formControlName="remittanceInformationUnstructured" [formGroup]="paymentForm"
                placeholder="Remittance information unstructured">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-instructionIdentification" class="form-control"
                formControlName="instructionIdentification" [formGroup]="paymentForm"
                placeholder="Instruction identification">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-requestedExecutionDateTime" class="form-control"
                formControlName="requestedExecutionDateTime" [formGroup]="paymentForm"
                placeholder="Requested Execution Date Time">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-endToEndIdentification" class="form-control"
                formControlName="endToEndIdentification" [formGroup]="paymentForm"
                placeholder="End to end identification">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-consent-currencyOfTransfer" class="form-control"
                formControlName="currencyOfTransfer" [formGroup]="paymentForm" placeholder="Currency Of Transfer">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-consent-rateType" class="form-control" formControlName="rateType"
                [formGroup]="paymentForm" placeholder="Rate Type">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-consent-consent-unitCurrency" class="form-control" formControlName="unitCurrency"
                [formGroup]="paymentForm" placeholder="Unit Currency">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" id="create-international-scheduled-payment-consent-chargebearer" class="form-control"
                  formControlName="chargeBearer" [formGroup]="paymentForm" placeholder="ChargeBearer">
              </mat-form-field>
            <div>
              <h5>Local Instrument</h5>
              <mat-form-field class="example-full-width">
                <input matInput type="text" id="create-international-scheduled-payment-consent-localInstrument" class="form-control"
                  formControlName="localInstrument" [formGroup]="paymentForm" placeholder="Local Instrument">
              </mat-form-field>
            </div>
            <div *ngIf="consentDebtorChecked">
              <h5>Debtor account</h5>
              <mat-form-field class="example-full-width">
                <input matInput type="text" id="create-international-scheduled-payment-consent-debtorAccountSchemeName" class="form-control"
                  formControlName="debtorAccountSchemeName" [formGroup]="paymentForm"
                  placeholder="Debtor account scheme name">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput type="text" id="create-international-scheduled-payment-consent-debtorAccountIdentification" class="form-control"
                  formControlName="debtorAccountIdentification" [formGroup]="paymentForm"
                  placeholder="Debtor account identification">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput type="text" id="create-international-scheduled-payment-consent-debtorAccountName" class="form-control"
                  formControlName="debtorAccountName" [formGroup]="paymentForm" placeholder="Debtor account name">
              </mat-form-field>
            </div>
            <button id="create-international-scheduled-payment-consent" type="submit" mat-raised-button>{{'create' | uppercase}}</button>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel class="nested-accordion get" [expanded]="consent_id ? true :false" id="get-international-scheduled-payment-consent-accordion">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Get International Scheduled Payment Consent
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="get-payment-header">
            <p class="get-payment-title">International Payment Scheduled Consent by consent ID</p>
          </div>
          <div>
            <h5>Consent ID</h5>
            <mat-form-field class="example-full-width">
              <input id="international-scheduled-payment-consent-id" class="add-consent-id" matInput placeholder="Consent ID" value="{{consent_id}}" #consentId>
            </mat-form-field>
          </div>
          <button id="international-scheduled-payment-consent-get-data-button" name="get_data_by_consent_id" table_id="international-payment-consent-by-id-table" mat-raised-button
            class="header-button-right" [disabled]="consentId.value.length == 0"
            (click)="getScheduledPaymentConsent(consentId.value)">{{'Get
                          data' | uppercase}}</button>
          <mat-card-content>
            <div *ngIf="internationalPaymentConsentDataSource">
              <mat-table id="get-international-scheduled-payment-consent-account-by-id-table" #table [dataSource]="internationalPaymentConsentDataSource">
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
                  <mat-cell id="get-international-scheduled-payment-consent-account-by-id-account-id" *matCellDef="let element"> {{element.Status}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="identification">
                  <mat-header-cell *matHeaderCellDef class="identification-table-cell"> Identification </mat-header-cell>
                  <mat-cell id="get-international-scheduled-payment-consent-account-by-id-nickname" *matCellDef="let element" class="identification-table-cell">
                    {{element.Initiation.CreditorAccount.Identification}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="instructedAmount">
                  <mat-header-cell *matHeaderCellDef> InstructedAmount </mat-header-cell>
                  <mat-cell id="get-international-scheduled-payment-consent-account-by-id-currency" *matCellDef="let element">
                    {{element.Initiation.InstructedAmount.Amount}} {{element.Initiation.InstructedAmount.Currency}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="arrow">
                  <mat-header-cell *matHeaderCellDef> Open data details </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="arrow-center">
                    <button mat-icon-button (click)="openDataDetails(element)">
                      <i class="material-icons right">
                        arrow_forward_ios
                      </i>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="internationalPaymentConsentDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: internationalPaymentConsentDisplayedColumns;"></mat-row>
              </mat-table>
              <div *ngIf="isEmptyAccountsById" class="empty-result-text">No results.</div>
              <mat-paginator #internationalScheduledPaymentConsentPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
<mat-card>
  <mat-accordion>
    <mat-expansion-panel class="nested-accordion get" id= "get-international-scheduled-payment-funds-confirmation-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Get International Payment Consent Funds Confirmation
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <h6>Consent ID</h6>
        <mat-form-field class="example-full-width" class="param-input">
          <input id="get-international-payment-funds-confirmation-consent-id" class="add-consent-id" matInput placeholder="Consent ID" value="{{consent_id}}" #fundConsentId>
        </mat-form-field>
      </div>
      <button id="international-scheduled-payment-funds-confirmation-get-data-button" name="get_data_by_consent_id" table_id="international-payment-consent-by-id-table" mat-raised-button
        class="header-button-right" [disabled]="fundConsentId.value.length == 0"
        (click)="getPaymentConsentFundsConfirmation(fundConsentId.value)">{{'Get
                        data' | uppercase}}</button>
      <mat-card-content>
        <div *ngIf="internationalPaymentConsentFundsConfirmationDataSource">
          <mat-table id="get-international-scheduled-payment-consent-funds-confirmation-table" #table [dataSource]="internationalPaymentConsentFundsConfirmationDataSource">
            <ng-container matColumnDef="fundsAvailableDateTime">
              <mat-header-cell *matHeaderCellDef>FundsAvailableDateTime </mat-header-cell>
              <mat-cell id="get-international-scheduled-payment-consent-fundsAvailableDateTime" *matCellDef="let element">
                {{element.FundsAvailableResult.FundsAvailableDateTime | date: 'yyyy-MM-dd'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fundsAvailable">
              <mat-header-cell *matHeaderCellDef> FundsAvailable </mat-header-cell>
              <mat-cell id="get-international-scheduled-payment-consent-fundsAvailable" *matCellDef="let element">
                {{element.FundsAvailableResult.FundsAvailable}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="arrow">
              <mat-header-cell *matHeaderCellDef> Open data details </mat-header-cell>
              <mat-cell *matCellDef="let element" class="arrow-center">
                <button mat-icon-button (click)="openDataDetails(element)">
                  <i class="material-icons right">
                    arrow_forward_ios
                  </i>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="internationalPaymentConsentFundsConfirmationDisplayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: internationalPaymentConsentFundsConfirmationDisplayedColumns;">
            </mat-row>
          </mat-table>
          <div *ngIf="isEmptyFundsConfirmation" class="empty-result-text">No results.</div>
          <mat-paginator #internationalScheduledPaymentConsentFundsConfirmationPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
<mat-card>
  <mat-accordion>
    <mat-expansion-panel id="international-scheduled-payment-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          International Scheduled Payment
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="internationalScheduledPaymentId">
        <p>Payment ID:</p>
        <p>{{internationalScheduledPaymentId}}</p>
      </div>
      <mat-accordion>
        <mat-expansion-panel class="nested-accordion create"  id="create-international-scheduled-payment-accordion">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Create International Scheduled Payment
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="payment-header">
            <div class="payment-header-right">
              <mat-checkbox id="international-scheduled-payment-with-debtor-data-checkbox" labelPosition="before" [(ngModel)]="debtorChecked">With Debtor data</mat-checkbox>
            </div>
          </div>
          <mat-form-field class="example-full-width" class="param-input">
            <input id="create-international-scheduled-payment-consent-id" class="add-consent-id" matInput placeholder="Consent ID" value="{{consent_id}}" #createdConsentId>
          </mat-form-field>
          <form class="form-group" [formGroup]="paymentForm"
            (ngSubmit)="createScheduledPayment(createdConsentId.value)">
            <h5>Instructed amount</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-amount" class="form-control" formControlName="instructedAmount"
                [formGroup]="paymentForm" placeholder="Instructed amount">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-currency" class="form-control" formControlName="instructedAmountCurrency"
                [formGroup]="paymentForm" placeholder="Instructed amount currency">
            </mat-form-field>
            <h5>Creditor account</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-creditorAccountIdentification" class="form-control"
                formControlName="creditorAccountIdentification" [formGroup]="paymentForm"
                placeholder="Creditor account identification">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-name" class="form-control" formControlName="creditorAccountName"
                [formGroup]="paymentForm" placeholder="Creditor account name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-creditorAccountSchemeName" class="form-control"
                formControlName="creditorAccountSchemeName" [formGroup]="paymentForm"
                placeholder="Creditor account scheme name">
            </mat-form-field>
            <h5>Creditor</h5>
            <mat-form-field>
              <input matInput type="text" id="create-international-scheduled-payment-creditorName" class="form-control"
                formControlName="creditorName" [formGroup]="paymentForm"
                placeholder="Creditor name">
            </mat-form-field>
        <div class="create-payment">  
          <h6>Creditor address line</h6>
          <i class="material-icons blue bring-forward cursor-pointer" (click)="addAddressLine()">
                add_box
          </i>
        </div>
          <div [formGroup]="paymentForm">
            <div formGroupName="creditorPostalAddress">
              <div formArrayName="creditorAddressLine">
                <div *ngFor="let address of creditorAddressLine.controls; let creditorAddressLineIndex = index;">
                  <mat-form-field class="example-full-width">
                    <input matInput
                      type="text"
                      [id]="'create-international-scheduled-payment-creditorAddressLine-'+creditorAddressLineIndex"
                      class="form-control"
                      [formControlName]="creditorAddressLineIndex"
                      placeholder="Creditor address line">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <h5>Creditor agent</h5>
            <mat-form-field>
              <input matInput type="text" id="create-international-scheduled-payment-creditorAgentName" class="form-control"
                formControlName="creditorAgentName" [formGroup]="paymentForm" placeholder="Creditor agent name">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" id="create-international-scheduled-payment-creditorAgentIdentification" class="form-control"
                formControlName="creditorAgentIdentification" [formGroup]="paymentForm" placeholder="Creditor agent identification">
            </mat-form-field>
            <h5>Remittance information</h5>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-remittanceInformationReference" class="form-control"
                formControlName="remittanceInformationReference" [formGroup]="paymentForm"
                placeholder="Remittance information reference">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-remittanceInformationUnstructured" class="form-control"
                formControlName="remittanceInformationUnstructured" [formGroup]="paymentForm"
                placeholder="Remittance information unstructured">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-instructionIdentification" class="form-control"
                formControlName="instructionIdentification" [formGroup]="paymentForm"
                placeholder="Instruction identification">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-requestedExecutionDateTime" class="form-control"
                formControlName="requestedExecutionDateTime" [formGroup]="paymentForm"
                placeholder="Requested Execution Date Time">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-endToEndIdentification" class="form-control"
                formControlName="endToEndIdentification" [formGroup]="paymentForm"
                placeholder="End to end identification">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-currencyOfTransfer" class="form-control"
                formControlName="currencyOfTransfer" [formGroup]="paymentForm" placeholder="Currency Of Transfer">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-rateType" class="form-control" formControlName="rateType"
                [formGroup]="paymentForm" placeholder="Rate Type">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" id="create-international-scheduled-payment-unitCurrency" class="form-control" formControlName="unitCurrency"
                [formGroup]="paymentForm" placeholder="Unit Currency">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" id="create-international-scheduled-payment-chargebearer" class="form-control"
                  formControlName="chargeBearer" [formGroup]="paymentForm" placeholder="ChargeBearer">
              </mat-form-field>
            <div>
              <h5>Local Instrument</h5>
              <mat-form-field class="example-full-width">
                <input matInput type="text" id="create-international-scheduled-payment-localInstrument" class="form-control"
                  formControlName="localInstrument" [formGroup]="paymentForm" placeholder="Local Instrument">
              </mat-form-field>
            </div>
            <div *ngIf="debtorChecked">
              <h5>Debtor account</h5>
              <mat-form-field class="example-full-width">
                <input matInput type="text" id="create-international-scheduled-payment-debtorAccountSchemeName" class="form-control"
                  formControlName="debtorAccountSchemeName" [formGroup]="paymentForm"
                  placeholder="Debtor account scheme name">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput type="text" id="create-international-scheduled-payment-debtorAccountIdentification" class="form-control"
                  formControlName="debtorAccountIdentification" [formGroup]="paymentForm"
                  placeholder="Debtor account identification">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput type="text" id="create-international-scheduled-payment-debtorAccountName" class="form-control"
                  formControlName="debtorAccountName" [formGroup]="paymentForm" placeholder="Debtor account name">
              </mat-form-field>
            </div>
            <div class="create-payment">
              <button id="international-scheduled-payment-create-button" [disabled]="createdConsentId.value.length == 0" type="submit"
                mat-raised-button>{{'create' | uppercase}}</button>
              <div *ngIf="internationalScheduledPaymentId" class="created-successfully">Successful payment creation</div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel class="nested-accordion get" [expanded]="internationalScheduledPaymentId ? true :false" id="get-international-scheduled-payment-accordion">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Get International Scheduled Payment
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="get-payment-header">
            <p class="get-payment-title">International Scheduled Payment by payment ID</p>
          </div>
          <mat-form-field class="example-full-width">
            <input id="get-international-scheduled-payment-payment-id" class="add-consent-id" matInput placeholder="Payment ID" value="{{internationalScheduledPaymentId}}"
              #paymentId>
          </mat-form-field>
          <button id="international-scheduled-payment-get-data-button" name="get_data_by_consent_id" table_id="international-payment-consent-by-id-table" mat-raised-button
            class="header-button-right" [disabled]="paymentId.value.length == 0"
            (click)="getScheduledPayment(paymentId.value)">{{'Get
                            data' | uppercase}}</button>
          <mat-card-content>
            <div *ngIf="internationalPaymentDataSource">
              <mat-table id="get-international-scheduled-payment-account-by-id-table" #table [dataSource]="internationalPaymentDataSource">
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
                  <mat-cell id="get-international-scheduled-payment-account-by-id-account-id" *matCellDef="let element"> {{element.Status}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="identification">
                  <mat-header-cell *matHeaderCellDef class="identification-table-cell"> Identification </mat-header-cell>
                  <mat-cell id="get-international-scheduled-payment-account-by-id-nickname" *matCellDef="let element" class="identification-table-cell">
                    {{element.Initiation.CreditorAccount.Identification}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="instructedAmount">
                  <mat-header-cell *matHeaderCellDef> InstructedAmount </mat-header-cell>
                  <mat-cell id="get-international-scheduled-payment-account-by-id-currency" *matCellDef="let element">
                    {{element.Initiation.InstructedAmount.Amount}} {{element.Initiation.InstructedAmount.Currency}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="arrow">
                  <mat-header-cell *matHeaderCellDef> Open data details </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="arrow-center">
                    <button mat-icon-button (click)="openDataDetails(element)">
                      <i class="material-icons right">
                        arrow_forward_ios
                      </i>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="internationalPaymentDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: internationalPaymentDisplayedColumns;"></mat-row>
              </mat-table>
              <div *ngIf="isEmptyPayment" class="empty-result-text">No results.</div>
              <mat-paginator #internationalScheduledPaymentPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
